.container{
    width: 40rem;
    height: 17.5rem;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #3f3f2c;
    font-family: Arial, sans-serif;
}
h2 {
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 700;
    color: #4c6444;
    margin-bottom: 1rem;
}
.pass-box{ /* Password display box and range */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: block;
    width: 30rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    border-bottom: 2px solid #66371b;
    padding: 5px;
    margin: 0 auto;
}

.range{ /* Range slider and number container */
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
.input-range{ /* Range slider */
    width: 19rem;
    height: 1.5rem;
    display: inline-block;
    accent-color: #d29f22;
}
.range-number {
    margin-top: 4px;
}

.options {  /* Options container */
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}
.left-checks, .right-checks{
    font-family: 'Quicksand', Arial, sans-serif;
    vertical-align: top;
    font-size: large;
    font-weight: 600;
    color: #333;
    accent-color: #4c6444;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.generate-btn {
    display: block;
    margin-top: 10px;
    font-family: 'Quicksand', Arial, sans-serif;
    margin-top: 1rem;
    background-color: #b4833d;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 2.5rem;
    font-weight: bold;
}
.generate-btn:hover {
    background-color: #e3d8c1;
    color: white;
    cursor: pointer;
}
.copy-btn {
     display: block;
    margin-top: 10px;
    font-family: 'Quicksand', Arial, sans-serif;
    margin-top: 1rem;
    background-color: #0b493a;
    color: #eaf06a;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 2.5rem;
    font-weight: bold;
}
.copy-btn:hover {
    background-color: #cfe1b9;
    color: white;
    cursor: pointer;
}
.change-range-btn {
    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: x-large;
    font-weight: bold;
}
.change-range-btn:hover {
    background-color: #bf932a;
    color: white;
    cursor: pointer;
}
#increase{
    margin-left: 7px;
}
#decrease{
    margin-right: 7px;
}
.copy-message {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  transition: opacity 0.3s;
}
.strength-check {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 0.5rem;
}
#bar1, #bar2 , #bar3, #bar4 {
    border: none;
    border-radius: 40rem;
    background-color: lightgrey;
    width: 5rem;
    height: 0.3rem;
}